* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.main{
    background-color: #327fa8;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: #327fa8;
}