body {
    font-family: Arial, sans-serif;
}

#messages {
    border: 1px solid #ccc;
    padding: 10px;
    height: 300px;
    overflow-y: scroll;
}

#messageInput,
#pseudoInput {
    width: 80%;
}

#sendButton {
    width: 15%;
}